{% extends 'base_auth.html' %}
{%load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            
            <div class="card-body">
                <div class="card-title">
                    <h4>Login to Your Account</h4>
                </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html'%}
                    <div class="form-group">
                        <input type="text" name="username" id="usernameField" value="{{fieldValues.username}}"placeholder="username" class="form-control">
                        <!-- <input type="email" name="email" id="emailField" placeholder="email" class="form-control" value="{{fieldValues.email}}"> -->
                        <!-- <div class="emailFeedbackArea invalid-feedback" style="display:none;">
                        </div> -->
                        <input type="password" name="password" id="passwordField" placeholder="password" class="form-control">
                        <!-- <small class="float-right py-2 showPasswordToggle">SHOW</small> -->
                    </div>
                    <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn">
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script> 
{% endblock %}